<nav class="navbar-pixel">
  <div class="navbar-content">
    <!-- Logo / Titre -->
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-logo" do %>
        <span class="logo-icon">⚔</span>
        <span class="logo-text">DONJON</span>
        <span class="logo-text">ADVENTURE</span>
      <% end %>
    </div>


    <!-- User section (Devise) -->
    <div class="navbar-user">
      <% if user_signed_in? %>
        <div class="user-info">
          <span class="user-name"><%= current_user.email.split('@').first.upcase %></span>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "btn-logout" do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </div>
      <% else %>
        <%= link_to "LOGIN", new_user_session_path, class: "btn-login-nav" %>
      <% end %>
    </div>

    <!-- Menu burger (mobile) -->
    <button class="navbar-burger" id="navbarBurger">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <!-- Menu mobile -->
  <div class="navbar-mobile" id="navbarMobile">
    <%= link_to "Aventures", scenarios_games_path, class: "nav-link-mobile" %>
    <%= link_to "Héros", "#", class: "nav-link-mobile" %>
  </div>
</nav>
